.contenido .navegador a {
    color: white;
    background-color: #686363;
    text-align: center;
    text-decoration: none;
    padding: 1px 1%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: all .5s ease;
 }
 .contenido .navegador hr {
     width: 98.5%;
     border: 2px solid #000000;
 }

 .contenido .bloque {
    transition: all .5s ease;
}
 
 .bloque {
     position: absolute;
     width: 95%;
     opacity: 0;
 }

 .navegador .boton.activo {
     background-color: #000000;

 }

 .contenido .bloque.activo {
     z-index: 1;
     opacity: 1;
 }